.data-box {
  position: relative;
}

.data-ilustration {
  position: absolute;

  width: 100%;
  height: 10rem;
  background: $Light-red-work url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  border-radius: $bor-rad;
  z-index: 0;
}

.data-inner {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateY(20%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  padding: 1rem 2rem;
  width: 100%;
  height: 12rem;
  background: $Dark-blue;
  border-radius: $bor-rad;
  font-weight: 500;
}

.data-inner:hover {
  // .data-inner {
  background: $Dark-blue1;
  cursor: pointer;
  // }
}

.nav,
.stats {
  display: flex;
  justify-content: space-between;
}

.nav-menu:hover {
  cursor: pointer;
  color: $White;
}

.stats {
  gap: 1rem;
}

.stats-hours {
  font-weight: 300;
  font-size: $font-title;
  color: $White;
}

.play .data-ilustration {
  background: $Soft-blue url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 90% -1rem;
}

.study .data-ilustration {
  background: $Light-red-study url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: 90% -1rem;
}

.exercise .data-ilustration {
  background: $Soft-blue url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: 90% -0.1rem;
}

.social .data-ilustration {
  background: $Violet url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: 90% -1.5rem;
}

.self-care .data-ilustration {
  background: $Soft-orange url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: 90% -1rem;
}
